#comments_area .row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    width: unset
}

#comments_area .col-md-24 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

#comments_area .col-md-6 {
    box-sizing: border-box;
    padding: 0 15px;
    width: 50%
}

#comments_area .col-md-4 {
    box-sizing: border-box;
    padding: 0 15px;
    width: 33.33%
}

.comment-header, .comment-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

#comment_count {
    margin-left: 5px;
}

.comment-load-more, .comment_loading {
    background: url('/images/icon_loader.gif') 0 0/100% auto no-repeat;
    width: 70px;
    height: 50px;
    margin: 0 auto;
    display: none
}

.col-all {
    display: flex;
    flex-basis: auto
}

.replyWrap {
    position: relative;
    background: url('/images/quote.png') right top no-repeat;
    border-top: 1px solid #e8e8e8
}

.clearAfter {
    display: block;
    clear: both;
    padding: 10px 0;
}

.listProfile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.listProfile .user {
    font-size: 12px;
    margin-right: 10px;
}

.listProfile .user:nth-child(2) {
    text-decoration: underline;
}

.listProfile .user:nth-child(3) {
    opacity: 0.85;
}

.listContent {
    position: relative;
    overflow: hidden
}

.replyWrap .left {
    float: left;
    padding: 0
}

.replyWrap b.voteUp {
    color: #3998f7;
    margin-left: 5px;
}

.replyWrap .rating b {
    font-weight: 400
}

.replyWrap b.voteDown {
    color: #ef3056
}

.replyWrap a.icon.voteDown svg {
    transform: rotate(-180deg);
    fill: #ef3056;
}

.replyWrap a.icon.voteUp svg {
    fill: #3998f7;
}

.replyWrap .right {
    float: right;
    padding: 0
}

.replyWrap a.icon {
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    font-size: 12px;
    padding: 0;
    padding: 2px;
    margin-right: 8px;
}

.replyWrap a.icon > svg {
    width: 18px;
    height: 18px;
    fill: #4b80c9;
}

.icon {
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat
}

a.icon {
    border: 0 !important
}

.replyWrap a.icon > b {
    font-size: 16px;
    line-height: 1;
    margin-left: 2px;
    opacity: 0.8;
}

.commentBlock {}

.commentBlock .listProfile {
    margin-left: 0;
    padding-left: 6px;
    text-align: center
}

.your_comment {
    background: #d1f4a8;
    padding: 10px;
}

.replyWrap a.report {
    background-position: 0 2px
}

#rc-imageselect {
    transform: scale(.77);
    -webkit-transform: scale(.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}

@media screen and (max-height: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(.77);
        -webkit-transform: scale(.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0
    }
}

.required {
    color: red
}

input.error, textarea.error {
    border: 1px solid red !important
}

div.error, label.error {
    font-weight: 400;
    color: red !important;
    display: block
}

.text-normal {
    font-weight: 400 !important
}

.make-comment label {
    display: block;
    margin-right: 12px;
    padding: 10px 0
}

#respond textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 16px;
    width: 100%
}

.btn, .form-control {
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none
}

#comments_area {
    text-align: left;
    color: inherit;
    line-height: 1.5
}

.form-control {
    display: block;
    width: 100%;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 15px;
}

textarea.form-control {
    height: auto
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-primary {
    background-color: #162f5f !important;
    border-color: #162f5f !important;
    color: #fff;
    transition: unset;
}

.btn-primary:hover {
    text-decoration: underline;
}

.hidden {
    display: none
}

.pull-right {
    float: right !important
}

.comment-date {}

select.input-sm {
    line-height: 30px;
    margin: 10px
}

#list_comment a {
    color: inherit
}

#load_more_comment {
    color: #fff !important;
}

#msg {
    padding: 10px 0;
    font-style: italic
}

.comment-notes {
    padding-bottom: 10px;
    font-style: italic
}

#comment_form {
    clear: both
}

.question-title {
    padding-left: 15px
}

#sort_by {
    color: inherit;
}

#sort_by option {
    color: #000;
}

#comments_area .img-thumbnail {
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    background-color: #4b80c9;
    color: #fff;
    text-transform: uppercase;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 10px;
    font-weight: 600;
    font-size: 20px;
}

.listProfile img {
    width: auto;
    height: auto
}

.img-cirle {
    width: 24px !important;
    height: 24px !important
}

.comment--content {
    margin-bottom: 10px;
    word-break: break-word;
}

.control-action {
    display: flex;
    align-items: center;
}

.comment__reply {
    padding-left: 20px;
    margin-left: 20px;
}

.comment-title {
    font-size: 20px;
    font-weight: 600;
}

p > i {
    font-size: 12px;
}

@media (max-width: 991px) {
    #comments_area .col-md-4 {
        width: 100%
    }
}

.adminManager {
    margin-left: auto;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}